.portfolio {
    height: 100vh;
    padding: 15vh 0px;
    overflow-y: scroll;
    background-color: #f9f9f9;
    color: #333;
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 40px;
}

.portfolio .project-card {
    flex: 1 1 calc(50% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-bottom: 80px; */
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: calc(0.5s * var(--i));
    overflow: visible;
    position: relative;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.projects-container {
    padding-inline: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-image-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.project-image-container img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.5s ease-in-out;
    border-radius: 8px;
}

.project-image-container img.show {
    display: block;
    opacity: 1;
}

.project-image-container:hover {
    transform: scale(1.15);
    z-index: 9999;
}
.project-image-container:hover img {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.portfolio h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
}

.portfolio p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.portfolio .project-card h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.portfolio .project-card p {
    margin-bottom: 15px;
}

.portfolio .project-card .technologies {
    margin-top: 10px;
    margin-bottom: 20px;
}

.portfolio .github {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: auto;
}

.portfolio .github img {
    width: 20px;
    margin-left: 10px;
    transition: filter 0.2s ease-in;
}

.portfolio .github:hover {
    background-color: #555;
}

.portfolio .github:hover img {
    filter: brightness(0) invert(1);
}
